.experiencias {
  background: #171b1e;
}

.experiencias-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.experiencias-container::after {
  content: "";
  display: block;
  width: 134px;
  height: 100px;
  background: url("../assets/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
}

.experiencias-subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  color: #6dabe4;
}

.experiencias-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #e6ecef;
}

.experiencias-texto strong {
  color: #7fbcf5;
}

.experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 60px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  background: #d3dce1;
  border-radius: 8px;
}

.experiencia::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#7fbcf5, #2f6393);
  position: absolute;
  top: 20px;
  left: -4px;
}

.experiencia-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #7fbcf5;
  font-size: 0.875rem;
}

.experiencia-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.experiencia-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

@media (max-width: 1020px) {
  .experiencias-subtitulo {
    font-size: 5.3rem;
  }
}

@media (max-width: 799px) {
  .experiencias-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencias-subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }

  .experiencias-texto {
    font-size: 1.25rem;
  }

  .experiencia-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .experiencia-ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 399px) {
  .experiencias-container {
    grid-template-columns: 1fr;
  }
}
