.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 30px;
  color: #06223c;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../assets/decor.svg) no-repeat center;
  position: absolute;
  top: -30px;
  left: -55px;
  z-index: -1;
}

.introducao p {
  color: #214f7a;
  font-size: 1.3rem;
}

@media (max-width: 1020px) {
  .introducao {
    gap: 100px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
}

@media (max-width: 799px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }

  .introducao h1 {
    font-size: 1.5rem;
  }

  .introducao h1::before {
    width: 10px;
    height: 60px;
    border-radius: 6px;
    left: -20px;
    top: -8px;
  }
}

@media (max-width: 450px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .introducao img {
    display: none;
  }
  .introducao h1 {
    font-size: 1.5rem;
    padding-left: 20px;
  }

  .introducao h1::before {
    left: 3px;
  }
}
